Colab Notebooks/*
qwen-cybersec-pretrained/*
results/*
splitted_datasets_default/*
models/*
answer_mcq/*
datasets/*
*.env*
unsloth_compiled_cache
# Keep folder structure in git (content is still ignored)
!models/.gitkeep
!answer_mcq/.gitkeep
!datasets/.gitkeep
!results/.gitkeep
!splitted_datasets_default/.gitkeep