Colab Notebooks/*
logs/*
results/*
models/*
data/*
.env
unsloth_compiled_cache
_unsloth_temporary*
*SANDBOX*
.venv

# Keep folder structure in git (content is still ignored)
!data/evaluation_dataset_splitted.csv
!logs/.gitkeep
!models/.gitkeep
!models/checkpoints/.gitkeep
!models/base/.gitkeep
!models/finetuned/.gitkeepe
!data/.gitkeep
!results/.gitkeep